<h1>Tables for <%= @database %></h1>

<%#= debug @tables %>

<div>
  <ul>
  <% @tables.each do | table | %>
    <% tab = "Database::#{Database.object_classify_name(@database)}::#{table.to_s}".constantize %>
    <li><%= link_to tab.table_name.classify, databases_table_path( @database, tab.table_name ) %></li>
  <% end %>
  </ul>
</div>