// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #A0B92A;
  border-color: #A0B92A;
}
.pagination > li > a, .pagination > li > span {
  border-color: #A0B92A;
  color: #A0B92A;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  background-color: #A0B92A;
  border-color: #A0B92A;
  color: white;
}
